{%extends 'index.html'%}

{%block child%}
<div class="container">
 <div class="col-lg-12">
  <div class="panel panel-default">
   <div class="panel-heading">
     Please Enter your Creds to create a new Store
     {%if error%}
      <span class="" style="color:red">{{error}}</span>
     {%endif%}
   </div>
   <div class="panel-body">
    {%if person%}
    <div class="alert alert-warning">Get you RAW Response here: <a href="/{{person.uuid}}" target="_blank">Raw Credentials</a></div>
     <div class="alert alert-success">Download RAW Response here: <a href="#" id="downloadJSON">Download Safe Credentials</a></div>
    {%endif%}
    {%if person%}
      <form action="/editData/" class="form form-horizontal" method="post">
    {%else%}
      <form action="/submitData/" class="form form-horizontal" method="post">
    {%endif%}
      {%csrf_token%}
      <div class="col-lg-6">
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Name</label>
        <div class="col-md-8">
         <input type='text' name="name" value="{{person.name}}" class='form-control' placeholder=''>
        </div>
       </div>
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Email</label>
        <div class="col-md-8">
         <input type='text' name="email" value="{{person.email}}" class='form-control' placeholder=''>
        </div>
       </div>
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Phone</label>
        <div class="col-md-8">
         <input type='text' name="phone" value="{{person.phone}}" class='form-control' placeholder=''>
        </div>
       </div>
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Address</label>
        <div class="col-md-8">
         <textarea name="address" rows="8" cols="40" class="form-control">{{person.address}}</textarea>
        </div>
       </div>
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Country</label>
        <div class="col-md-8">
         <select class="form-control" name="country">
          <option {%if person.country == "IN" %}selected{%endif%} value="IN">India</option>
          <option {%if person.country == "BAN" %}selected{%endif%} value="BAN">Bangladesh</option>
          <option {%if person.country == "USA" %}selected{%endif%} value="USA">USA</option>
          <option {%if person.country == "AUS" %}selected{%endif%} value="AUS">Australia </option>
         </select>
        </div>
       </div>
       <div class='form-group'>
        <label for='name-id' class="control-label  col-md-4">Birth</label>
        <div class="col-md-8">
         <input type="date" name="birth" value="{{person.birth}}" value="" class="form-control">
        </div>
       </div>
       <div class="text-center">
        <button type='submit' class='btn btn-lg btn-default '>
        {%if person%} Update
        {%else%} Submit
        {%endif%}
       </button>
       </div>

      </div>


     </form>

   </div>
  </div>
 </div>
</div>

{%if person%}
<script type="text/javascript">
 var obj = {
  'name' : '{{person.name}}',
  'email' : '{{person.email}}',
  'phone' : '{{person.phone}}',
  'address' : '{{person.address}}',
  'country' : '{{person.country}}',
  'birth' : '{{person.birth}}',
 };
 var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));

 var a = document.getElementById('downloadJSON');
 a.href = 'data:' + data;
 a.download = 'cred-manager.json';

 if(window.location.pathname.indexOf('{{person.uuid}}') == -1){
  window.location.href = '/{{person.uuid}}?edit=1';
 } else {
  console.debug("Verified url");
 }


</script>
{%endif%}
{%endblock%}
